<header>
  <div class="container">
  <nav>
    <div class="brand">
      {{ if .IsHome }}<h1 class="site-title">{{ .Site.Title }}</h1>{{ else }}<a class="site-title" href="{{ "" | relURL }}">{{ .Site.Title }}</a>{{ end }}
      {{ if .IsHome }}<p class="site-tagline">{{ .Site.Params.description }}</p>{{ end }}
    </div>
    <ul>
      <li><a href="{{ "posts/" | relURL }}">Статьи</a></li>
      <li><a href="{{ "about/" | relURL }}">О нас</a></li>
    </ul>
  </nav>
  </div>
</header>
